
<ul class="header__social-list">
  <li class="header__social-list__item"><a class="header__social-list__item--link" href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook-f" name="facebook"></i></a></li>
  <li class="header__social-list__item"><a class="header__social-list__item--link" href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter" name="twitter"></i></a></li>
  <li class="header__social-list__item"><a class="header__social-list__item--link" href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram" name="instagram"></i></a></li>
  <li class="header__social-list__item"><a class="header__social-list__item--link" href="https://pinterest.com" target="_blank"><i class="fa-brands fa-pinterest" name="pinterest"></i></a></li>
  <li class="header__social-list__item"><a class="header__social-list__item--link" href="https://tiktok.com" target="_blank"><i class="fa-brands fa-tiktok" name="tiktok"></i></a></li>
  <li class="header__social-list__item"><a class="header__social-list__item--link" href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube" name="youtube"></i></a></li>
</ul>