nav.sticky-top
    div.container
        div(class='row') 
            ul(class='nav-list')
                li(class='nav-list__item drop-down')
                    a(class='nav-list__item--link current-page text-white', href='#' target='_blank') Home
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    div(class='nested-menu-arrow')
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                        </svg>
                    div(class='nested-menu shadow-sm')
                        ul(class='nested-menu__list')
                            li(class='nested-menu__list__item')
                                a(class='nested-menu__list__item--link ' href='#' target='_blank') magazine
                            li(class='nested-menu__list__item')
                                a(class='nested-menu__list__item--link selected' href='#' target='_blank') personal
                            li(class='nested-menu__list__item')
                                a(class='nested-menu__list__item--link ' href='#' target='_blank') personal alt
                            li(class='nested-menu__list__item')
                                a(class='nested-menu__list__item--link ' href='#' target='_blank') classic
                            li(class='nested-menu__list__item')
                                a(class='nested-menu__list__item--link ' href='#' target='_blank') minimal
                li(class='nav-list__item')
                    a(class='nav-list__item--link ' href='#' target='_blank') Lifestyle
                li(class='nav-list__item')
                    a(class='nav-list__item--link ' href='#' target='_blank') Culture
                li(class='nav-list__item drop-down')
                    a(class='nav-list__item--link ' href='#' target='_blank') Features
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    div(class='nested-menu-arrow')
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                        </svg>
                    div(class='nested-menu shadow-sm')
                        ul(class='nested-menu__list')
                            li(class='nested-menu__list__item sup-drop-down')
                                a(class='nested-menu__list__item--link clearfix' href='#' target='_blank') 
                                    span.float-start post layouts
                                    div.float-end
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                div(class='sup-nested-menu shadow-sm')
                                    ul(class='sup-nested-menu__list')
                                        li(class='sup-nested-menu__list__item')
                                            a(class='sup-nested-menu__list__item--link ' href='#' target='_blank') standard
                                        li(class='sup-nested-menu__list__item')
                                            a(class='sup-nested-menu__list__item--link' href='#' target='_blank') full cover
                            li(class='nested-menu__list__item sup-drop-down')
                                a(class='nested-menu__list__item--link clearfix' href='#' target='_blank')
                                    span.float-start post formats
                                    div.float-end
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                div(class='sup-nested-menu shadow-sm')
                                    ul(class='sup-nested-menu__list')
                                        li(class='sup-nested-menu__list__item')
                                            a(class='sup-nested-menu__list__item--link ' href='#' target='_blank') standard
                                        li(class='sup-nested-menu__list__item')
                                            a(class='sup-nested-menu__list__item--link' href='#' target='_blank') gallery
                                        li(class='sup-nested-menu__list__item')
                                            a(class='sup-nested-menu__list__item--link' href='#' target='_blank') video
                                        li(class='sup-nested-menu__list__item')
                                            a(class='sup-nested-menu__list__item--link' href='#' target='_blank') audio
                            li(class='nested-menu__list__item sup-drop-down')
                                a(class='nested-menu__list__item--link clearfix' href='#' target='_blank')
                                    span.float-start archive
                                    div.float-end
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                div(class='sup-nested-menu shadow-sm')
                                    ul(class='sup-nested-menu__list')
                                        li(class='sup-nested-menu__list__item')
                                            a(class='sup-nested-menu__list__item--link ' href='#' target='_blank') list
                                        li(class='sup-nested-menu__list__item')
                                            a(class='sup-nested-menu__list__item--link' href='#' target='_blank') grid
                                        li(class='sup-nested-menu__list__item')
                                            a(class='sup-nested-menu__list__item--link' href='#' target='_blank') classic
                                        li(class='sup-nested-menu__list__item')
                                            a(class='sup-nested-menu__list__item--link' href='#' target='_blank') wide thub
                            li(class='nested-menu__list__item')
                                a(class='nested-menu__list__item--link ' href='#' target='_blank') author page
                            li(class='nested-menu__list__item')
                                a(class='nested-menu__list__item--link ' href='#' target='_blank') paginated post
                            li(class='nested-menu__list__item')
                                a(class='nested-menu__list__item--link ' href='#' target='_blank') 404 page
                li(class='nav-list__item drop-down')
                    a(class='nav-list__item--link' href='#' target='_blank') Contact
            
