nav.sticky-top
    div.container
        div(class='row') 
            ul(class='nav-list')
                li(class='nav-list__item drop-down')
                    a(class='nav-list__item--link current-page text-white', href='#' target='_blank') Home
                li(class='nav-list__item')
                    a(class='nav-list__item--link ' href='#' target='_blank') Lifestyle
                li(class='nav-list__item')
                    a(class='nav-list__item--link ' href='#' target='_blank') Culture
                li(class='nav-list__item')
                    a(class='nav-list__item--link ' href='#' target='_blank') Features
                li(class='nav-list__item drop-down')
                    a(class='nav-list__item--link' href='#' target='_blank') Contact
            
